@import url('https://fonts.adobe.com/fonts/handsome-pro');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard Variable';
  src: url('/fonts/PretendardVariable.ttf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Handsome Pro';
  src: url('/fonts/HandsomePro-Regular.otf') format('opentype');
  font-style: normal;
}

/* tailwindCSS에서 해당 color들을 사용할 수 있도록 변경 */
/* :root에 선언된 애들을 사용하고 있어서 그대로 뒀습니다. 아래와 같이 @theme에 선언해주면 tailwindcss처럼 사용할 수 있어서 @theme도 만들었습니다. */
@theme {
  --color-main: #d22e2f;
  --color-sub: #5d95d2;
  --color-dim: #191919;
  --color-background: #fff8eb;
  --color-kakao: #fadd0e;

  --color-gray-100: #f8f8f9;
  --color-gray-150: #f0f0f0;
  --color-gray-200: #e5e5e4;
  --color-gray-300: #c0c0c0;
  --color-gray-400: #898989;
  --color-gray-500: #717171;
  --color-gray-600: #5f5f5f;
  --color-gray-700: #3e3e3e;
  --color-gray-800: #393c3c;
  --color-gray-900: #191919;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-red-100: #f9e3e3;
  --color-red-200: #f2c1c1;
  --color-red-300: #e06d6d;
  --color-red-400: #d22e2f;
  --color-red-500: #932021;
  --color-red-600: #691718;
  --color-red-700: #4e1112;

  --color-blue-100: #ecf5fe;
  --color-blue-200: #c5e0fd;
  --color-blue-300: #9ecbfc;
  --color-blue-400: #3e98f9;
  --color-blue-500: #327ac7;
  --color-blue-600: #255b95;
  --color-blue-700: #193d64;

  --color-bg-100: #fffbf5;
  --color-bg-200: #fffaf1;
  --color-bg-300: #fff8eb;
  --color-bg-400: #f2ecdf;
  --color-bg-500: #e5dfd3;

  --shadow-middlemodal: 0px 4px 50px 0px #0000000d;
  --shadow-location-search: 0px 4px 28px 0px #0000000d;
}

:root {
  --main: #d22e2f;
  --sub: #5d95d2;
  --dim: #191919;
  --background: #fff8eb;

  --gray-100: #f8f8f9;
  --gray-150: #f0f0f0;
  --gray-200: #e5e5e4;
  --gray-300: #c0c0c0;
  --gray-400: #898989;
  --gray-500: #717171;
  --gray-600: #5f5f5f;
  --gray-700: #3e3e3e;
  --gray-800: #393c3c;
  --gray-900: #191919;
  --white: #ffffff;
  --black: #000000;

  --red-100: #f9e3e3;
  --red-200: #f2c1c1;
  --red-300: #e06d6d;
  --red-400: #d22e2f;
  --red-500: #932021;
  --red-600: #691718;
  --red-700: #4e1112;

  --blue-100: #ecf5fe;
  --blue-200: #c5e0fd;
  --blue-300: #9ecbfc;
  --blue-400: #3e98f9;
  --blue-500: #327ac7;
  --blue-600: #255b95;
  --blue-700: #193d64;

  --bg-100: #fffbf5;
  --bg-200: #fffaf1;
  --bg-300: #fff8eb;
  --bg-400: #f2ecdf;
  --bg-500: #e5dfd3;
}

/* 전역 폰트 스타일 */
body {
  font-family: 'Handsome Pro', Pretendard, 'Pretendard Variable', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

@utility key-visual-el {
  font-family:
    Handsome Pro,
    serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility key-visual-l {
  font-family:
    Handsome Pro,
    serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
  letter-spacing: 0;
}
@utility key-visual-m {
  font-family:
    Handsome Pro,
    serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0;
}
@utility key-visual-s {
  font-family:
    Handsome Pro,
    serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility headline-el {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility headline-l {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility headline-m {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility headline-s {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility title-xl {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility title-l {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility title-m {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility title-s {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility body-el {
  font-family: Pretendard, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility body-l-1 {
  font-family: Pretendard, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility body-l-m {
  font-family: Pretendard, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility body-l {
  font-family: Pretendard, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility body-m {
  font-family: Pretendard, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility body-m-m {
  font-family: Pretendard, serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility body-s {
  font-family: Pretendard, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility body-s-m {
  font-family: Pretendard, serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
}

/* 버튼 텍스트 디자인도 tailwindCSS 내에서 사용할 수 있도록 @utility 적용 */
@utility button-el {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0;
}
@utility button-l {
  font-family: Pretendard, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}
@utility button-m {
  font-family: Pretendard, serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}
@utility body-s {
  font-family: Pretendard, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
}
@utility chip-m-bold {
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0;
}
@utility chip-m {
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0;
}
@utility chip-s-bold {
  font-family: Pretendard, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
@utility chip-s {
  font-family: Pretendard, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
}
@utility caption-l {
  font-family: Pretendard, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
}
@utility caption-m {
  font-family: Pretendard, serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0;
}
@utility popup-title-l {
  font-family: Pretendard, serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0;
}

@utility cal-t {
  font-family: Pretendard, serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

/* 버튼 컴포넌트 */
.blue-200-button {
  background-color: var(--blue-200);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: white;
  border-radius: 4px;
  font-family: Pretendard, serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}
.blue-400-button {
  background-color: var(--blue-400);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: white;
  border-radius: 4px;
  font-family: Pretendard, serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}
.blue-500-button {
  background-color: var(--blue-500);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: white;
  border-radius: 4px;
  font-family: Pretendard, serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}
.gray-200-300-button {
  background-color: var(--gray-200);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: var(--gray-300);
  border-radius: 4px;
  font-family: Pretendard, serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}
.gray-200-700-button {
  background-color: var(--gray-200);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: var(--gray-700);
  border-radius: 4px;
  font-family: Pretendard, serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}
.gray-300-button {
  background-color: var(--gray-300);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: var(--gray-700);
  border-radius: 4px;
  font-family: Pretendard, serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}

.default-input {
  display: flex;
  padding: 12px 50px 12px 16px;
  align-items: center;
  height: 50px;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--gray-200);
  background: var(--white);
  outline-color: var(--blue-400);
  caret-color: var(--blue-400);
  color: var(--gray-900, #191919);
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
/* input 컴포넌트 스타일 */
.default-input::placeholder {
  justify-content: center;
  align-items: center;
  color: var(--gray-400);
  font-family: Pretendard, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
}

.error-input {
  display: flex;
  padding: 12px 50px 12px 16px;
  align-items: center;
  height: 50px;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--red-400);
  background: var(--white);
  outline: none;
  color: var(--gray-900);
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.completed-input {
  display: flex;
  padding: 12px 50px 12px 16px;
  align-items: center;
  height: 50px;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--white);
  outline: none;
  color: var(--gray-900);
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.blue-chip {
  background: var(--white);
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 20px;
  border: 1px solid var(--blue-400);
  color: var(--blue-400);
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}
.gray-chip {
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 20px;
  border: 1px solid var(--gray-200);
  background: var(--white, #fff);
  color: var(--gray-500);
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}
.gray-today-chip {
  display: flex;
  width: 108px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--gray-200);
  background: var(--white);
  color: var(--gray-500);
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}
.blue-today-chip {
  display: flex;
  width: 108px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--blue-400);
  color: var(--white);
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}
